@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #292929; /* color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* color of the scrollbar thumb */
  border-radius: 6px; /* roundness of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563; /* color of the scrollbar thumb on hover */
}

.transition-ease {
  transition: all 0.3s ease;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #262627; */
  background-image: url("/public/globe.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: "font-drip";
  src: url("/public/fonts/adrip1.ttf") format("truetype");
  /* You can also specify other font properties like font-weight, font-style, etc. */
}

/* Apply the font to specific elements */
.header-font {
  font-family: "font-drip";
  color: rgb(255, 255, 255);
  /* Additional styling for elements with class .header-font */
}

.body-font {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Choose a weight between 100 and 1000 */
  font-style: normal;
}

.concert-one-regular {
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
}
/* Header */
@keyframes headerAnimation-mobile {
  0% {
    font-size: 15px;
  }
  50% {
    font-size: 18px;
  }
  100% {
    font-size: 15px;
  }
}

@keyframes headerAnimation {
  0% {
    font-size: 26px;
  }
  50% {
    font-size: 30px;
  }
  100% {
    font-size: 26px;
  }
}

.animation-tags-header-mobile {
  animation: headerAnimation-mobile 1.7s infinite ease-in-out;
}

.animation-tags-header {
  animation: headerAnimation 2s infinite ease-in-out;
}

.no-animation {
  animation: none !important;
}

/* Buttons */
.send-button-Mobile,
.button-container-1-Mobile {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.share-button-mobile {
  background: linear-gradient(0deg, rgb(90, 90, 90), rgb(168, 168, 168));
  color: rgb(226 232 240);
}

.share-button {
  background: #64646b;
  color: rgb(226 232 240);
}

.tag-button-colors {
  background: linear-gradient(0deg, rgb(95, 95, 95), rgb(179, 179, 179));
  color: rgb(226 232 240);
}

.button-container-color {
  background-color: rgb(39, 43, 55);
  background: linear-gradient(0deg, rgb(33, 33, 33), rgb(79, 79, 79));
  color: rgb(226 232 240);
}

.background-color {
  /* background-color: rgb(109, 109, 109); */
  /* background: linear-gradient(0deg, rgb(59, 165, 211), rgba(10, 229, 245, 0.727), rgba(10, 245, 233, 0.727)); */
  background: linear-gradient(0deg, rgb(43, 43, 43), rgb(100, 100, 100), rgb(145, 145, 145));
}

.markers-color {
  background: linear-gradient(0deg, rgb(59, 165, 211), rgba(10, 229, 245, 0.727), rgba(10, 245, 233, 0.727));
}
